.box{

    padding-top:40px;
    border:1px solid lightgray;
    width:400px;
    height:400px;
    margin:20px auto;
}

.box-field{
    border:1px solid lightgray;
    width:300px;
    height:300px;
    margin:20px auto;
    

}

.input1{
    width:98%;
    height:30px;
    font-size:20px;
    font-weight: bold;
}

.btn{
    width:40%;
    height:25px;
    background-color:green;
    color:white;
    border:none;
    font-size:20px;
    cursor:pointer;
}